table{
    margin:5px;
    padding:10px;
    border: grey solid 1px;
    width:100%
  }
  
  td{
    padding:10px;
    align-self: center;
    border:solid grey .5px;
    text-align: center;
    font-size: large;
  }
  
  .review_panel{
    display: flex;
    flex-direction: column;
    border: solid grey;
    position: relative;
    height:7cm;
    width:6cm;
    overflow-y: scroll;
    padding:.3cm;
    padding-top: 0%;
    border-radius:10px; 
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: .5cm;
    justify-content: space-between;
  }

  .postreview{
    margin:20px;
    padding:10px;
    font-size: larger;
  }

  th{
    padding:5px;
    align-self: center;
    text-align: center;
    font-size: large;
    margin-bottom: 1cm;
    vertical-align: middle;
    color: black;
  }

  .review_panel {
    border: solid purple; /* Changed from grey */
    margin: 10px;
    padding: 10px;
}

  .reviewer {
    margin: 10px; /* Optional margin for spacing */
    font-style: italic;
    color: gray;
    font-size: small;
}

.review {
  margin-top: 1.5cm;
}

.emotion_icon {
  align-self: center;
  position:fixed;
    width:40px;
    height:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

.review_icon {
  width:40px;
}

/* Update the Hover effect on Review Icons */
.review_icon:hover {
    border: 2px solid #080808; /* Thin black border on hover */
}